@import url('https://fonts.cdnfonts.com/css/public-sans'); 
@import url('https://fonts.cdnfonts.com/css/dm-serif-display');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    transition: 0.2s ease-in-out;
    font-family: 'Public Sans', sans-serif;
    color: inherit;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

body {
    background: #EDF3F8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.menu {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li {
    color: #36536B;
    font-size: 15px;
    font-weight: 700;
}

nav ul li:hover {
    cursor: pointer;
    color: #BA4270;
}

.nav-button {
    padding: 16px 24px 14px;
    font-weight: 700;
    font-size: 15px;
    color: #FBFCFE;
    background: #BA4270;
    box-shadow: 10px 10px 25px -10px #36536b40;
    border-radius: 100px;
    line-height: 17px;
    border: 2px solid transparent;
}

.nav-button:hover {
    background: transparent;
    border: 2px solid #BA4270;
    color: #BA4270;
}

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0;
    height: calc(100vh - 121);
}

img {
    width: 100%;
    height: 100%;
}

.showcase img {
    max-width: 70%;
}

.showcase-right {
    display: flex;
    justify-content: end;
}

.showcase>div {
    flex: 1;
}

.showcase-left h1 {
    max-width: 546px;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 72px;
    font-weight: 400;
    color: #36536B;
}

.work {
    background: #1B262F;
    padding: 100px 0;
}

.work-wrapper {
    display: flex;
}

.work-wrapper>div {
    flex: 1;
}

.work-wrapper-left .work-title {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #FBFCFE;
    font-family: 'DM Serif Display', sans-serif;
    letter-spacing: -0.37px;
}

.work-wrapper-left .work-desc {
    max-width: 445px;
    color: #FBFCFE;
    font-size: 15px;
    line-height: 28px;
    opacity: 0.7;
    padding: 24px 0 32px;
}

.work-wrapper-left button {
    background: transparent;
    padding: 16px 32px 14px;
    border-radius: 100px;
    color: 2px solid #FBFCFE;
}

.work-wrapper-right {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    row-gap: 46px;
}

.work-wrapper-right img {
    max-width: 30%;
    max-height: 37px;
}

.implement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px;
}

.implement-left img {
    border-radius: 10px;
    box-shadow: 0 0 100px 0 #a2deab;
}

.implement-desc {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    color: #6C8294;
    max-width: 445px;
}

.implement-title {
    font-size: 48px;
    font-weight: 400;
    font-family: 'DM Serif Display', sans-serif;
    color: #36536B;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 103px;
}

.info-item {
    text-align: center;
}

.info-item img {
    max-width: 106px;
    max-height: 106px;
}

.info-item p {
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    color: #36536B;
}

footer {
    background: #1B262F;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 64px;
}

.footer-left ul li {
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    color: #FBFCFE;
    opacity: 0.8;
    font-family: 'Public Sans', sans-serif;

}

.footer-right {
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 767px) {

    .showcase {
        flex-direction: column-reverse;
    }

    .showcase-left h1 {
        font-size: 48px;
        text-align: center;
    }

    .showcase-right {
        justify-content: center;
    }

    .showcase-right img {
        max-width: 40%;
    }

    .implement {
        flex-direction: column;
        row-gap: 48px;
    }

    .implement-right {
        text-align: center;
    }

    .info {
        max-width: 80%;
    }
}

@media screen and (max-width: 660px) {
    nav ul {
        display: none;
    }

    .menu {
        display: block;
    }

    .showcase-left h1 {
        font-size: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .showcase-left h1 {
        font-size: 32px;
        text-align: center;
    }

    .implement-title {
        font-size: 36px;
    }

    .info {
        flex-direction: column;
        row-gap: 164px;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .footer-left {
        flex-direction: column;
    }

    .footer-left ul {
        display: flex;
        flex-direction: column;
    }
}